// General Variables

$fontStack: 'Lato', 'Helvetica', sans-serif;
$fontScript: 'Pacifico', cursive;
$light: 300;
$bold: $light * 3;
$primaryColor: #232323;
$secondatyColor: whitesmoke;
$accentColor: #FF6B35;

// Mixin
@mixin breakpoint($point) {
    @if $point == laptop {
        @media only screen and (min-width: 900px) {
            @content;
        }
    } @else if $point == tablet {
        @media only screen and (min-width: 768px) {
            @content;
        }
    } @else if $point == phoneLandscape {
        @media only screen and (min-width: 500px) {
            @content;
        }
    }
}